.container{
  padding: 10px;
}
.contact {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-gap: 0.5em;
}

.contact > div{
  background: #eee;
  padding: 1em;
  border-radius: 10px;
}

.contact > div:nth-child(odd){
  background: #ddd;
  padding: 1em;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, 280px);

}

.wrapper > div{
  background:#eee;
  padding: 1em;
}

.wrapper > div:nth-child(odd){
  background: #ddd;
  padding: 1em;
}

footer {
    display: block;
}

#about-us{
  margin: 80px 0px 0px 0px;
}

#how-to{
  margin: 0px 0px 80px 0px;
}
